<% @jobs.each do |job| %>
<div>
  <h1> <%= link_to job.title, job %> </h1>
  <%= job.company.name %> <br>
  <%= job.location %> <br>
  <%= job.company.name %> <br>
  <% if job.featured? %> <br>
    <strong>Destaque</strong>
  <% end %>
</div>
<% end %>
