  <div class="row">
    <div class="col-md-9">
      <section id="jobs">
        <div class="row">
          <% @jobs.each do |job| %>
            <div class="col-md-6">
              <div class="job">
                <%= render job %>
              </div>
            </div>
          <% end %>
        </div>
      </section>
    </div>

    <div class="col-md-3">
      <aside id="companies">
        <h2>Empresas</h2>
        <% @companies.each do |company| %>
          <%= link_to company.name, company %> <br>
        <% end %>
      </aside>
      <aside id="categories">
        <h2>Categorias</h2>
        <% @categories.each do |category| %>
          <%= link_to category.name, category %> <br>
        <% end %>
      </aside>
    </div>
  </div>
