<% @jobs.each do |job| %>
<div>
  <h1> <%= link_to job.title, job %> </h1>
  <%= job.company %>
  <%= job.location %>
  <%= job.company.name %>
  <% if job.featured? %>
    <strong>Destaque</strong>
  <% end %>
</div>
<% end %>
